
<a href="/AboutWebsite/"><b><img src="/templates/logo2.png" align = "left" width="12%"/></b></a>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/index/"><b><font size="5" face="verdana">Homepage</font></b></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/UpdateAPMOS/"><b><font size="5" face="verdana">Update APMOS</font></b></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/FindAVGPrice/"><b><font size="5" face="verdana">AVG Price</font></b></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/BBticker2Apcode/"><b><font size="5" face="verdana">OK! bb ticker</font></b></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://wiki.apcapital.local/index.php/Information_for_Middle_Office"><b><font size="5" face="verdana">Wiki</font></b></a>&nbsp;&nbsp;&nbsp;&nbsp;
<br>
<hr>
